html {
    margin: auto;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

body {
    display: block;
    position: absolute;
    flex-direction: column;
    background-color: lavender;
    font-family: monospace;
    width: 80%;
}

.header {
    width: 70%;
    height: 150px;
    margin: auto auto 30px auto;
    padding: 10px;
    background-color: skyblue;
}
h1 {
    float: right;
    transform: translate(0%, 135%);
    font-size: 2vw;
}

img {
    max-height: 150px;
    height: 100%;
    width: auto;
    position: relative;
    float: left;
}

.contents {
    width: 60%;
    margin: auto;
    display: absolute;
    position: relative;
    text-align: left;
}

#review {
    width: 400px;
}